:root {
    --sidebar_width: 15%;
    --sidebar-margin: 20px;
    --sidebar_gradient_percent: 95%;
    --text: #E4C59E;
    --background: #322C2A;
    --primary: #CFB79A;
    --secondary: #75542B;
    --in_between: color-mix(in srgb, var(--background) 75%, var(--secondary) 25%);
    --accent: #D09A58;
}

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.name {
    margin: auto;
	text-align: center;
	width: fit-content;
    max-width: 75vw;
    font-size: xx-large;
	border-radius: 2vh;
	padding-right: 7vw;
	padding-left: 7vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-top: 5%;
	margin-bottom: 25px;
	background: var(--primary);
    color: rgb(50, 44, 42);
}
.name img {
    width: 50%;
}

header {
    width: fit-content;
    margin: auto;
    filter: drop-shadow(10px 10px 5px black);
    margin-bottom: 50px;
    transition: 1s;
}
header:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 20px black);
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.info a {
    text-decoration: none;
    color: var(--background);
}
.email, .version, .other-site {
	text-align: center;
    font-weight: 900;
	width: fit-content;
	min-width: fit-content;
	border-radius: 1.125vh;
	padding-right: 2vw;
	padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 0;
	margin-bottom: 25px;
	background: var(--accent);
    color: rgb(50, 44, 42);
    transition: 1s;
}
.email:hover, .version:hover, .other-site:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 30px black);
}
.other-site:hover {
    background-color: var(--primary);
}




.content {
    background-color: color-mix(in srgb, hsl(33, 46%, 31%) 20%, var(--background) 80%);
    height: fit-content;
    width: fit-content;
    max-width: 85vw;
    margin: auto;
    border-radius: 2vh;
    padding-top: 3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2vw;
    margin-bottom: 3vh;
    filter: drop-shadow(10px 10px 5px black);
    transition: 1s;
}
.content:hover {
    transform: scale(1.1);
    margin-bottom: 4vw;
    filter: drop-shadow(10px 10px 20px black);
}

/*Body styling*/
body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

.section-title {
    color: var(--accent);
    font-size: xx-large;
    padding: 0px;
    margin: 0px;
}
.section-text-title {
    font-weight: bold;
}