new_site/first version/basem_resume_site.html
new_site/first version/new_resume_style.css
old/basem_zaky_main.html
old/BasemZ_Resume.zip
old/Resume_Style.css
new_site/config.tf
new_site/main.tf
new_site/terraform.tfstate
new_site/terraform.tfstate.backup
new_site/.terraform.lock.hcl
new_site/.terraform/providers/registry.terraform.io/hashicorp/aws/5.51.1/windows_amd64/LICENSE.txt
new_site/.terraform/providers/registry.terraform.io/hashicorp/aws/5.51.1/windows_amd64/terraform-provider-aws_v5.51.1_x5.exe
yousof-hairkut.zip
planks_icon_png_500px.png
